
<div class="window-heading text-center" ng-controller="modelFunctionController">
    <ul class="nav nav-pills nocircum text-center">
        <li role="presentation" style="width:100%" id="window1"><a href="#1" type="pill" class="window-title">MODEL</a></li>
    </ul>
    <p style="margin:20px 0px 0px 0px;"></p>
</div>
    <div class="container-fluid fullscreen nopadding">
        <div class="row nopadding nomargin">
            <div class="col-xs-12 nopadding scrollable">
                <div id="modelList"></div>
            </div>
        </div>
    </div>