<h1 align=center>Rescue Request Form</h1>
<hr align=center color=black size=2>

<form action="submitform.php" method=post>
	
	<p>Number of people:</p>
	<input type="text" name="number"/><br/>
	
	<p>Message:</p>
	<textarea name="message" rows="10" cols="50"></textarea>
		
	<p>Pick your location:</p>
	Address: <input type="text" size="50" name="address" id="address"/>
	Longitude: <input type="text" size="15" name="longitude" id="longitude"/>
	Latitude: <input type="text" size="15" name="latitude" id="latitude"/>
	<input type="submit" name="submit" value="Submit">
		
	<br/><br/>
</form>