<!DOCTYPE html>
<html lang="en" ng-app="viewApp">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Mental H</title>
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Wire+One" />
	 <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link href="Libs/jquery-ui-styles/jquery-ui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
	<!--<link rel="stylesheet" href="https://js.arcgis.com/4.0/esri/css/main.css"> -->
</head>

<body>
<div id="header">
	<nav class="navbar navbar-inverse navbar-fixed-top childpanelhead  " role="navigation" >
		<div class="container-fluid header_color">
			<div class="navbar-header header_color">
				<button type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
                <a class="navbar-brand headerFont" href="index.php" style="color:white">Mental H</a>  

			</div>
		
		</div>
	</nav>
</div>
	
	<!--MAIN CONTENT-->
    
<div id="reply_modal" class="modal card fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Reply Info</h4>
            </div>
            <form name="f2" ng-submit="SaveName()">
                <div class="modal-body form-group ">
                    <div class="container-fluid">
                        <div class="col-xs-12"> 
                                <label for="folderName">Send To</label>
                            
     <textarea placeholder="Input message here..." class="form-control" rows="5" id="Msg"></textarea>                        
    
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"  onclick="submitMsg()">Send</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.document new folder modal-->    
    
    
	<div id="content">
		<div class="container-fluid nocircum">
		<div class="row gutter-10 nomargin">
		
		<!--Function-->
		<div class="col-xs-3" >
		<div class="window" style="border-left: 1px solid #333;">
		<div class="window-content" style="background-color:#f5f5f5;">
		<div class="content-container">
		<div class="row nomargin">
		
	
		
		<div class="col-xs-12 fullscreen nopadding" >
		                   
        <div class="container-fluid fullscreen nopadding ">
            <div id="weatherInfo" class="halfrow nopadding nomargin" ng-controller="weatherInfo">
            <div class="box" width="100%">
            <div class="box-heading text-center">
			<ul class="nav nav-pills nocircum text-center" >
                <li role="presentation" style="width:100%" ><a href="#1" type="pill" class="window-title">Sentiment Analysis</a></li>
			</ul>
		</div>
		


			<div id="weatherChart" class="box-body">
                <div class="content-container"></div>
            </div>

		<!--</div>-->
                
              
            </div>
                 
             </div>
            
            <div id="solutionWindow" class="halfrow nopadding nomargin">
                
                 <div class="box" width="100%">
            <div class="box-heading text-center">
    <ul class="nav nav-tabs nocircum" role="tablist">
        <li role="presentation"  class="btnfullwidth "><a href="#solution" class="btnfullwidth window-title" role="tab" data-toggle="tab">Tweet</a></li>
        
    </ul>
		</div>
		 <div class="tab-content box-body">
        <div id="solution" class="content-container tab-pane fade in active" >
            
                <div id="ListContainer" class="row nomargin nopadding" style="height:100%">

                <div class="col-xs-12 largepadding scrollable" style="height:100%">
                
                   
                    <p style="margin:40px"></p>
						
					
                 <!--
                 <div class="panel panel-default noborder">
						  <div class="panel-body noborder nomargin smallpadding panel_color" >
                             <div class="resText">Routing & Auto-reply</div>
						  </div>
						  <div class="panel-footer nopadding noborder">
				                    <button class="btn btn-info btnfullwidth xsmallpadding tile_color fa fa-paper-plane btnText" onclick="updateSolution()">&nbsp;&nbsp;EXECUTE</button>
				         </div>
                     
				       </div>
                   -->
  
                    </div>
                </div>
                  
    </div> 
              
		<div class="box-body tab-pane fade" id="info">
            <div  class="content-container" >
                <div id="ListContainer" class="row nomargin nopadding">

                <div class="col-xs-12 nopadding scrollable ">
                  

                    <div class="list-group filelist ">
                        <div id="attrprop" class="overflow">

                        </div>
                    </div>
                </div>
            </div>
            
            
            </div>
        </div>
                     </div>
            </div>       
            </div>
         </div>   
             </div>
        </div>  
            </div>               
                       
		</div>
		</div>
		
		
		</div><!--End of Function Window -->
            
            
            
		<!--Viewer-->
		<div class="col-xs-6">
		<div class="window">
		<div class="window-heading text-center">
			<ul class="nav nav-pills nocircum text-center" >
				<li role="presentation" style="width:100%" ><a href="#1" type="pill" class="window-title" id="time"></a></li>
			</ul>
		</div>
		
		<div  class="window-body">
            <div id="viewDiv" style="height:96%">

            </div>
        </div>
		
            
            </div>
		</div>
		
		<!--Info-->
	  <div class="col-xs-3">
		<div class=" window">
				<div class="window-content" style="background-color:#f5f5f5;">
		<div class="content-container">
		<div class="row nomargin">
		
   <div class="col-xs-12 fullscreen nopadding" >
		                   
        <div class="container-fluid fullscreen nopadding ">
             <div id="snsInfo" class="halfrow nopadding nomargin" ng-controller="SNS">
            <div class="box" width="100%">
            <div class="box-heading text-center">
			<ul class="nav nav-pills nocircum text-center" >
                <li role="presentation" style="width:100%" ><a href="#1" type="pill" class="window-title">Public Health Info</a></li>
			</ul>
		</div>
		
		<div class="box-body list-group scrollable" >
        
            <a href="#" class="list-group-item" ng-repeat="msg in SNSInfos |orderBy:'-time_stamp'">
            <div class="row">
                <div class="col-xs-2">
                    <div class="row">
                        <button id="{{ msg.phone }}" class="replybutton fa fa-reply " onclick="reply_click(this.id)">
                        </button>
                    </div>
                </div>
                <div class="col-xs-10">
                    <div class="row">
                        <div class="list-group-item-heading resText">&nbsp;&nbsp;{{ msg.message }}</div>
                        <div class="list-group-item-text resText"><span class=" pull-xs-left">&nbsp;&nbsp;&nbsp;</span>{{ msg.phone }}</div>
                         <div class="list-group-item-text resText"><span class=" pull-xs-left">&nbsp;&nbsp;&nbsp;</span>{{ msg.date_sent }}</div>
                        <div class="list-group-item-text resText"><span class="pull-xs-left">&nbsp;&nbsp;&nbsp;</span>{{ msg.match_addr}}</div>   
                    </div>
                </div>  
            </div>
  </a>
           
        </div>
                
            </div>
                 
        </div>
            
  <div id="solutionWindow" class="halfrow nopadding nomargin">
                
        <div class="box" width="100%">
            <div class="box-heading text-center">
    <ul class="nav nav-tabs nocircum" role="tablist">
        <li role="presentation"  class=" btnfullwidth"><a href="#hospital" class="btnfullwidth window-title" role="tab" data-toggle="tab">Health Facility</a></li>
        
    </ul>
		</div>
		 <div class="tab-content box-body">
        <div id="hospital" class="content-container tab-pane fade in active" ng-controller="HospitalInfo">
            
   <div id="ListContainer" class="row nomargin nopadding" style="height:100%">

                <div class="col-xs-12 largepadding scrollable" style="height:100%">
                   <p style="margin:20px"></p>
              
            <div class="row">        
    <div class="panel panel-default noborder" ng-repeat="hospital in HospitalInfos">
						  <div class="panel-body noborder nomargin smallpadding" style=" background-color: #F3F6F8;">
                              <div class="resText">{{hospital.facname}}</div>
						  </div>
						  <div class="panel-footer smallpadding noborder gray_color">
						       <div class="btn-group inline btnfullwidth" > 
                                     <div class="btn btn-small fiveIcons fa fa-bed fa-2x btnIcon yellow_color"></div> 
                                  <div class="btn btn-small fiveIcons fa fa-heartbeat fa-2x btnIcon yellow_color" ></div>
                                    <div class="btn btn-small fiveIcons fa fa-fire fa-2x btnIcon yellow_color" ></div>
                                    <div class="btn btn-small fiveIcons fa fa-child fa-2x btnIcon yellow_color" ></div> 
                                    <div class="btn btn-small fiveIcons fa fa-hourglass-end fa-2x btnIcon yellow_color" ></div> 
                               </div> 
                              <div class="btn-group inline btnfullwidth" > 
                                  <div class="btn btn-small fiveIcons btnText" >{{hospital.medsurg}}</div> 
                                  <div class="btn btn-small fiveIcons btnText" >{{hospital.icu}}</div>
                                    <div class="btn btn-small fiveIcons btnText" >{{hospital.burn}}</div>
                                    <div class="btn btn-small fiveIcons btnText" >{{hospital.nicu}}</div> 
                                    <div class="btn btn-small fiveIcons btnText" >{{hospital.emsatrama}}</div> 
                               </div> 

				         </div>
   </div>
                    </div>  

                    
  
                    </div>
                </div>
                  
    </div> 
              
		<div class="content-container tab-pane fade" id="shlter">
            
                <div id="shlterListContainer" class="row nomargin nopadding">

                <div class="col-xs-12 nopadding">
                  
                       
                  
                </div>
            </div>
            
            
           
        </div>
             
            </div>
            </div>       
            </div>
        </div>              
		</div>
		</div>
		</div>
		</div>
		</div><!--End of 3rd Window-->
		</div> <!--End of Info Column-->
		
		</div>
		</div>
	</div><!--End of #cotent div-->
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<!--<script src="https://js.arcgis.com/4.0/"></script>-->
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
	<!--<script src="js/kmeans.js"></script>-->
	<script src="manager/manager.js"></script>
    
    
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    <script src="js/angular-route.js"></script>
    <script src="js/angular-ui-router.min.js"></script>
    <script src="js/viewApp.js"></script>
	<script src="js/Controller.js"></script>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>
	<script src="js/bootstrap.min.js"></script>


    <script type="text/javascript">
	//global var
	var weatherObj;
	var temp;
	var tempTime;
	var templs = new Array();
	var tempTimels =  new Array();
	var rain;
	var rainls = new Array();

	function updateClock() {
		var now = new Date(), // current date
		months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'],
		days = ['Sun','Mon','Tue','Wed','Thu','Fri','Sat'],
		days = ['Sun','Mon','Tue','Wed','Thu','Fri','Sat']; // you get the idea
		seconds = now.getSeconds().toString().length == 1 ? '0'+ now.getSeconds() :  now.getSeconds(),
		ampm = now.getHours() >= 12 ? 'PM' : 'AM',
		minute= now.getMinutes().toString().length == 1 ? '0'+ now.getMinutes() :  now.getMinutes(),
		  hour = now.getHours().toString().length == 1 ? '0'+ now.getHours() :  now.getHours(),
		time = hour + ' : ' + minute +' : '+ seconds +' '+ ampm, // again, you get the idea
				


		months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'],
		days = ['Sun','Mon','Tue','Wed','Thu','Fri','Sat']

		// a cleaner way than string concatenation
		date = [ days[now.getDay()],now.getDate(), 
				months[now.getMonth()],
				now.getFullYear()].join(" ");

		// set the content of the element with the ID time to the formatted string
		document.getElementById('time').innerHTML ="Local Time : "+ date +"&nbsp;&nbsp;&nbsp;"+ time +"&nbsp;&nbsp;" + "UTC-8";

		// call this function again in 1000ms
		setTimeout(updateClock, 1000);
	}
	
	updateClock();
	
</script>
 
  <script>
     function drawWeatherChart () {
    $('#weatherChart').highcharts({
        chart: {
            type: 'pie',
            options3d: {
                enabled: true,
                alpha: 45,
                beta: 0
            }
        },
        title: {
                text: 'Ana',
            align: "center",
            style: { "color": "#111111", "fontSize": "0.8vw" }
        },

        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                depth: 35,
                dataLabels: {
                    enabled: true,
                    format: '{point.name}'
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Browser share',
            data: [
                ['Firefox', 45.0],
                ['IE', 26.8],
                {
                    name: 'Chrome',
                    y: 12.8,
                    sliced: true,
                    selected: true
                },
                ['Safari', 8.5],
                ['Opera', 6.2],
                ['Others', 0.7]
            ]
        }]
    });
         
   setTimeout(drawWeatherChart, 10000);
};
      
</script>    
    
<script>
	var num;
	function reply_click(clicked_id)
	{
		num =  clicked_id;
		$('#reply_modal').modal('show');
	}

	function submitMsg()
	{
		var msg_txt = document.getElementById("Msg").value;
		var url = "manager/postsms.php?To=" + encodeURIComponent(num) + "&Body=" + encodeURIComponent(msg_txt);
		var oReq = new XMLHttpRequest();
		oReq.onload = function() {
		}
		oReq.open("get", url, true);
		oReq.send();

 document.getElementById("Msg").value="";
$('#reply_modal').modal('hide');
	}
</script>
<script>
    var map = L.map('viewDiv').setView([32.729144, -117.138577], 12);
    L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/streets-v10/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoieHlxNTcxMTgzIiwiYSI6ImNpemJ2Y3I2dzEwcDQyd3FpZHduNnhyamsifQ.Y7X_txyUmsuYd_TnQte-Rg').addTo(map);
    // load GeoJSON from an external file
    function addDataToMap(data, map) {
        var dataLayer = L.geoJson(data);
        dataLayer.addTo(map);
    }

    $.getJSON("SRA2010tiger.geojson", function(data) { addDataToMap(data, map); });


</script>
</body>
</html>