<!DOCTYPE html>
<html lang="en"  ng-app="viewApp">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ArcBBQ</title>
    
      <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Wire+One" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" />
    <link href="Libs/jquery-ui-styles/jquery-ui.min.css" rel="stylesheet"/>
    <script src="Libs/jquery.js"></script>
    <script src="Libs/jquery-ui.js"></script>
    <script src="Libs/webgl-utils.js"></script>
    <script src="Libs/gl-matrix.js"></script>
    <script src="Viewer/xbim-binary-reader.debug.js"></script>
    <script src="Viewer/xbim-model-geometry.debug.js"></script>
    <script src="Viewer/xbim-model-handle.debug.js"></script>
    <script src="Viewer/xbim-product-type.debug.js"></script>
    <script src="Viewer/xbim-shaders.debug.js"></script>
    <script src="Viewer/xbim-state.debug.js"></script>
    <script src="Viewer/xbim-triangulated-shape.debug.js"></script>
    <script src="Viewer/xbim-viewer.debug.js"></script>
    <script src="Browser/xbim-attribute-dictionary.debug.js"></script>
    <script src="Browser/xbim-browser.debug.js"></script>
    <script src="Browser/xbim-cobie-utils.debug.js"></script>
    <script src="Browser/xbim-cobieuk-utils.debug.js"></script>
    <script src="Browser/xbim-visual-attribute.debug.js"></script>
    <script src="Browser/xbim-visual-entity.debug.js"></script>
    <script src="Browser/xbim-visual-model.debug.js"></script>
    <script src="Browser/xbim-visual-property.debug.js"></script>
    <script src="Browser/xbim-visual-templates.debug.js"></script>
    <script src="Browser/xbim-visual-assignment-set.debug.js"></script>
    <script src="browser.js"></script>
    
</head>

<body>
    
  	<div id="header">
	<nav class="navbar navbar-inverse navbar-fixed-top childpanelhead  " role="navigation">
		<div class="container-fluid header_color">
			<div class="navbar-header header_color">
				<button type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
                <a class="navbar-brand headerFont" href="index.php" style="color:white">aida</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse header_color">
				<ul class="nav navbar-nav navbar-right">
					   <li class="tile_color"><a href="index.php" type="pill" style="color:white"><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;2D Map</a></li>
				       <li class="tile_color"><a  href="model1.html"  type="pill" style="color:white"><i class="fa fa-map" aria-hidden="true"></i>&nbsp;&nbsp;BIM</a></li>
				</ul>
			</div>
		</div>
	</nav>
	</div>
    
    
<!--MAIN CONTENT-->   

<div id="reply_modal" class="modal card fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Reply Info</h4>
            </div>
            <form name="f2" ng-submit="SaveName()">
                <div class="modal-body form-group ">
                    <div class="container-fluid">
                        <div class="col-xs-12"> 
                                <label for="folderName">Send To</label>
                            
     <textarea placeholder="Input message here..." class="form-control" rows="5" id="Msg"></textarea>                        
    
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"  onclick="submitMsg()">Send</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.document new folder modal-->  


 
    <div id="content">
        <div class="container-fluid nocircum">
            <div class="row gutter-10 nomargin">

			  <div class="col-xs-3" >
		<div class="window" style="border-left: 1px solid #333;">
		<div class="window-content" style="background-color:#f5f5f5;">
		<div class="content-container">
		<div class="row nomargin">
		
		<!--<div class="col-xs-2 fullscreen nopadding">
			<ul class="cbp-vimenu">
				<li><a  class="icon-archive" href="index.php" type="pill"  ></a></li>
				<li><a  class="icon-search"  href="model1.html"  type="pill" ></a></li>
			</ul>
		</div>-->
		
		<div class="col-xs-12 fullscreen nopadding" >
		                   
        <div class="container-fluid fullscreen nopadding ">
             <div id="weatherInfo" class="halfrow nopadding nomargin" ng-controller="weatherInfo">
            <div class="box" width="100%">
            <div class="box-heading text-center">
			<ul class="nav nav-pills nocircum text-center" >
				<li role="presentation" style="width:100%" ><a href="#1" type="pill" class="window-title">Weather Info</a></li>
			</ul>
		</div>
		
		<!--<div class="box-body">-->
		<!-- <p>
                {{weatherInfos.coord}}
                </p> -->
			<div id="weatherChart" class="box-body">
                <div class="content-container"></div>
            </div>
                
            
		<!--</div>-->
                
              
            </div>
                 
             </div>
            
            <div id="solutionWindow" class="halfrow nopadding nomargin">
                
                 <div class="box" width="100%">
            <div class="box-heading text-center">
    <ul class="nav nav-tabs nocircum" role="tablist">
        <li role="presentation"  class="active btnhalfwidth"><a href="#solution" class="btnfullwidth window-title" role="tab" data-toggle="tab">Solution</a></li>
        <li role="presentation" class="btnhalfwidth" ><a href="#info" data-toggle="tab" class="btnfullwidth window-title" >Building Info</a></li>
    </ul>
		</div>
		
 	 <div class="tab-content box-body">
        <div id="solution" class="content-container tab-pane fade in active" >
            
                <div id="ListContainer" class="row nomargin nopadding" style="height:100%">

                <div class="col-xs-12 largepadding scrollable" style="height:100%">
                   
                   
                    <p style="margin:40px"></p>
						
						<div class="panel panel-default noborder ">
						  <div class="panel-body noborder nomargin smallpadding panel_color" style=" background-color: lightgray;">
                              <b>Building</b>
						  </div>
						  <div class="panel-footer nopadding noborder">
						  <div class="input-group noborder ">
						   <input type="text" id="usr" placeholder="Search for..." class="form-control">
						   <span class="input-group-btn noborder" width="40%">
								<button class="btn btn-info noborder tile_color" width ="40px"type="button" onclick="searchBuilding()" style="color:white"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;FIND</button>
						   </span>
						  </div>
				         </div>
				       </div>
					
              
                    
                        <div class="panel panel-default noborder">
						  <div class="panel-body noborder nomargin smallpadding panel_color" style=" background-color: lightgray;">
                              <b>Structures</b>
						  </div>
						  <div class="panel-footer nopadding noborder">
						   <button class=" btn btn-info  btnfullwidth xsmallpadding tile_color" onclick="highLightWall()" style="color:white"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;CHECK</button>
				         </div>
				       </div>
                    
             
                    
                 <div class="panel panel-default noborder">
						  <div class="panel-body noborder nomargin smallpadding panel_color" style=" background-color: lightgray;">
                              <b>	Exits </b>
						  </div>
						  <div class="panel-footer nopadding noborder">
						   <button class="btn btn-info  btnfullwidth xsmallpadding tile_color" onclick="highLightDoor()" style="color:white"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;CHECK</button>
				         </div>
                     
				       </div>
                    
                    
                    <div class="panel panel-default noborder">
						  <div class="panel-body noborder nomargin smallpadding panel_color" style=" background-color: lightgray;" style="color:white">
                              <b>Roaming </b>
						  </div>
						  <div class="panel-footer nopadding noborder">
						   <button class="btn btn-info  btnfullwidth xsmallpadding tile_color" onclick="makeCertainRed3()" style="color:white"><i class="fa fa-street-view" aria-hidden="true"></i>&nbsp;
START</button>
				         </div>
                     
				       </div>
                
                    
				   <p style="margin:20px"></p>

                      <div class="panel panel-default noborder">
						  
                              <a class="btn btn-default btnfullwidtNoHeight" style=" background-color: lightgray;" onclick="resetSearch()" style="color:white"><i class="fa fa-undo" aria-hidden="true"></i><b>&nbsp;Revert to Original</b></a>
						  						                   
				       </div>
                    
  
                    </div>
                </div>
                  
    </div> 
              
	     <div id="info" class="content-container tab-pane fade" >
            
                <div id="ListContainer" class="row nomargin nopadding" style="height:100%">

                <div class="col-xs-12 nopadding scrollable" style="height:100%">
                   
                   
       <div id="attrprop" class="scrollable">

                        </div>
  
                    </div>
                </div>
                  
    </div> 

            
            
        </div>
                     </div>
            </div>       
            </div>
         </div>   
             </div>
        </div>  
            </div>               
                       
		</div>
		</div>
		
		
		<!--End of Function Window -->
	
                
                <!--Viewer-->
                <div class="col-xs-6">
                  <div class="window">
                    <div class="window-heading">
                           <ul class="nav nav-pills nocircum" >
                             <li role="presentation" style="width:100%" ><a href="#1" type="pill" class="window-title" id="time"></a></li>
                             </ul>
                      </div>
                     <div  class="window-body"> 
                        
                       <canvas id="viewer-canvas" class="content-container bimcanvas"></canvas>
					  
                     </div>
                </div>
                </div> 
                
                
              
		<!--Info-->
	  <div class="col-xs-3">
		<div class=" window">
				<div class="window-content" style="background-color:#f5f5f5;">
		<div class="content-container">
		<div class="row nomargin">
		
   <div class="col-xs-12 fullscreen nopadding" >
		                   
        <div class="container-fluid fullscreen nopadding ">
             <div id="snsInfo" class="halfrow nopadding nomargin" ng-controller="SNS">
            <div class="box" width="100%">
            <div class="box-heading text-center">
			<ul class="nav nav-pills nocircum text-center" >
				<li role="presentation" style="width:100%" ><a href="#1" type="pill" class="window-title">SMS</a></li>
			</ul>
		</div>
		
	<div class="box-body list-group scrollable" >
        
            <a href="#" class="list-group-item" ng-repeat="msg in SNSInfos |orderBy:'-time_stamp'">
            <div class="row">
                <div class="col-xs-2"><button id="{{ msg.phone }}" class="replybutton" onclick="reply_click(this.id)"><i class="btn fa fa-reply yellowback_color" aria-hidden="true"></i></button></div>
                <div class="col-xs-10">
            <h4 class="list-group-item-heading">&nbsp;&nbsp;{{ msg.message }}</h4>
            <p class="list-group-item-text"><span class=" pull-xs-left">&nbsp;&nbsp;&nbsp;</span>{{ msg.phone }}</p>
			 <p class="list-group-item-text"><span class=" pull-xs-left">&nbsp;&nbsp;&nbsp;</span>{{ msg.date_sent }}</p>
            <p class="list-group-item-text"><span class="pull-xs-left">&nbsp;&nbsp;&nbsp;</span>{{ msg.match_addr}}</p>   
                </div>  
            </div>
  </a>
           
        </div>
                
            </div>
                 
        </div>
            
  <div id="solutionWindow" class="halfrow nopadding nomargin">
                
        <div class="box" width="100%">
            <div class="box-heading text-center">
    <ul class="nav nav-tabs nocircum" role="tablist">
        <li role="presentation"  class=" btnfullwidth"><a href="#hospital" class="btnfullwidth window-title" role="tab" data-toggle="tab">Hospital</a></li>
        
    </ul>
		</div>
		 <div class="tab-content box-body">
        <div id="hospital" class="content-container tab-pane fade in active" ng-controller="HospitalInfo">
            
                 <div id="ListContainer" class="row nomargin nopadding" style="height:100%">

                <div class="col-xs-12 largepadding scrollable" style="height:100%">
                    
              
                    
    <div class="panel panel-default noborder" ng-repeat="hospital in HospitalInfos">
						  <div class="panel-body noborder nomargin smallpadding" style=" background-color: #F3F6F8;">
                              <p>{{hospital.facname}}</p>
						  </div>
						  <div class="panel-footer nopadding noborder gray_color">
						       <div class="btn-group inline btnfullwidth" > 
                                  <div class="btn btn-small fiveIcons" ><i class="fa fa-bed fa-2x yellow_color" aria-hidden="true"></i></div> 
                                  <div class="btn btn-small fiveIcons" ><i class="fa fa-heartbeat fa-2x yellow_color" aria-hidden="true"></i></div>
                                    <div class="btn btn-small fiveIcons" ><i class="fa fa-fire fa-2x yellow_color" aria-hidden="true"></i></div>
                                    <div class="btn btn-small fiveIcons" ><i class="fa fa-child fa-2x yellow_color" aria-hidden="true"></i></div> 
                                    <div class="btn btn-small fiveIcons" ><i class="fa fa-hourglass-end fa-2x yellow_color" aria-hidden="true"></i></div> 
                               </div> 
                              <div class="btn-group inline btnfullwidth" > 
                                  <div class="btn btn-small fiveIcons" >{{hospital.medsurg}}</div> 
                                  <div class="btn btn-small fiveIcons" >{{hospital.icu}}</div>
                                    <div class="btn btn-small fiveIcons" >{{hospital.burn}}</div>
                                    <div class="btn btn-small fiveIcons" >{{hospital.nicu}}</div> 
                                    <div class="btn btn-small fiveIcons" >{{hospital.emsatrama}}</div> 
                               </div> 

				         </div>
   </div>
                    

                    
  
                    </div>
                </div>
                  
    </div> 
              
		<div class="content-container tab-pane fade" id="shlter">
            
                <div id="ListContainer" class="row nomargin nopadding">

                <div class="col-xs-12 nopadding">
                  
                       
                  
                </div>
            </div>
            
            
           
        </div>
             
            </div>
            </div>       
            </div>
        </div>              
		</div>
		</div>
		</div>
		</div>
		</div><!--End of 3rd Window-->
		</div> <!--End of Info Column-->
            </div>
        </div>
        
    </div><!--End of #cotent div-->
    

	<div id="actionContainer" class="action-container">
    <div class="fab-container main-action" tooltip="Toolbox">
        <div class="fab data" id="root">
            <span></span>
        </div>
    </div>

    <div class="fab-container" tooltip="Lock" onclick="viewer.stop();">
        <div class="fab" id="lock">
            <span></span>
        </div>
    </div>

    <div class="fab-container" tooltip="Reset" onclick="tool_Back();">
        <div class="fab" id="reset">
            <span></span>
        </div>
    </div>
    
	</div>

             
 
     <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
     <script src="js/angular-route.js"></script>
     <script src="js/angular-ui-router.min.js"></script>    
     <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
     <script src="js/viewApp.js"></script>
	 <script src="js/Controller.js"></script>
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript">
    
        $(window).bind('load', function(){showModel()}) 
    
    </script>
    <script type="text/javascript">
        
        //global var
        var weatherObj;
        var temp;
        var tempTime;
        var templs = new Array();
        var tempTimels =  new Array();
        var rain;
        var rainls = new Array();
        //
        
    function showModel() {
        //var viewer = new xViewer('viewer-canvas');
        browser.load("content/rac_advanced_sample_project_DPoW.json");
        viewer.load("content/rac_advanced_sample_project.wexBIM");
        
        viewer.start();
		
        $(window).load(function () {
            $('.scrollable').css('height', 0.93* window.innerHeight + 'px');
        });

    }
	
    function highLightWall()
    {
                viewer.resetStates();
				viewer.renderingMode = "normal";
				viewer.renderingMode = 'x-ray';
				viewer.setState(xState.HIGHLIGHTED,xProductType.IFCWALLSTANDARDCASE );
				viewer.setState(xState.HIGHLIGHTED, xProductType.IFCWALL );    
        
    }
     
        
       function highLightDoor()
    {
                viewer.resetStates();
				viewer.renderingMode = "normal";
				viewer.renderingMode = 'x-ray';
				viewer.setState(xState.HIGHLIGHTED, xProductType.IFCDOOR );	
                viewer.setState(xState.HIGHLIGHTED, xProductType.IFCSTAIR );	
                viewer.setState(xState.HIGHLIGHTED, xProductType.IFCSTAIRFLIGHT);	
    }
        
        function searchBuilding()
		{           
				
                viewer.renderingMode = 'x-ray';
                var _searchelement = "IFC"+ document.getElementById("usr").value.toString().toUpperCase();
				viewer.setState(xState.HIGHLIGHTED, xProductType[_searchelement] );	
				if(xProductType[_searchelement] != null)
				{document.getElementById("usr").value ="";}
		}
		
		
		function resetSearch()
		{	
            viewer.resetStyles();
		    viewer.resetStates();
			viewer.renderingMode = 'normal';
		}
        
        
	function tool_Back() {
        viewer.start();
        viewer.resetStates();
        viewer.renderingMode = "normal";
        viewer.setCameraPosition(originalCamera);
    }
	
	
	function makeCertainRed1()
	{
	viewer.defineStyle(0, [255,165,0]); 
	viewer.setStyle(0,[194711]);
	viewer.setStyle(0,[791682]);
	}
	function makeCertainRed2()
	{
	viewer.defineStyle(1, [255,0,0,0.3]); 
	viewer.setStyle(1,[194711]);
	viewer.setStyle(1,[791682]);
	}
	function makeCertainRed3()
	{
	viewer.defineStyle(2, [255,0,0,1]); 
	viewer.setStyle(2,[194711]);
	viewer.setStyle(2,[791682]);
	}
	function makeCertainRed4()
	{
	viewer.defineStyle(3, [255,0,0,255]); 
	viewer.setStyle(3,[194711]);
	viewer.setStyle(3,[791682]);
	}
    
	 function updateClock() {
    var now = new Date(), // current date
       months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'],
    days = ['Sun','Mon','Tue','Wed','Thu','Fri','Sat'],
     days = ['Sun','Mon','Tue','Wed','Thu','Fri','Sat']; // you get the idea
        seconds = now.getSeconds().toString().length == 1 ? '0'+ now.getSeconds() :  now.getSeconds(),
        ampm = now.getHours() >= 12 ? 'PM' : 'AM',
        minute= now.getMinutes().toString().length == 1 ? '0'+ now.getMinutes() :  now.getMinutes(),
          hour = now.getHours().toString().length == 1 ? '0'+ now.getHours() :  now.getHours(),
        time = hour + ' : ' + minute +' : '+ seconds +' '+ ampm, // again, you get the idea
				
        
    
    months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'],
    days = ['Sun','Mon','Tue','Wed','Thu','Fri','Sat']
    
        // a cleaner way than string concatenation
        date = [ days[now.getDay()],now.getDate(), 
                months[now.getMonth()],
                now.getFullYear()].join(" ");

    // set the content of the element with the ID time to the formatted string
    document.getElementById('time').innerHTML ="Local Time : "+ date +"&nbsp;&nbsp;&nbsp;"+ time +"&nbsp;&nbsp;" + "UTC-8";

    // call this function again in 1000ms
    setTimeout(updateClock, 1000);
}
updateClock();
	
	
	
</script>
 
  
  <script>
     function drawWeatherChart () {
    $('#weatherChart').highcharts({
        chart: {
            type: 'line'
        },
        title: {
            text: 'One Day Forecasting'
        },
       
        xAxis: {
            categories: tempTimels
        },
        yAxis: {
            title: {
                text: ''
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: true
            }
        },
        series: [{
            name: 'TMP',
            data: templs
        },
                {
            name: 'Rain',
            data: rainls
        }]
    });
         
   setTimeout(drawWeatherChart, 10000);
};
 </script>   

<script>
	var num;
	function reply_click(clicked_id)
	{
		num =  clicked_id;
		$('#reply_modal').modal('show');
	}

	function submitMsg()
	{
		var msg_txt = document.getElementById("Msg").value;
		var url = "manager/postsms.php?To=" + encodeURIComponent(num) + "&Body=" + encodeURIComponent(msg_txt);
		var oReq = new XMLHttpRequest();
		oReq.onload = function() {
		}
		oReq.open("get", url, true);
		oReq.send();
 document.getElementById("Msg").value="";
$('#reply_modal').modal('hide');
	}
</script> 

</body>
 

</html>